@import url('https://fonts.googleapis.com/css2?family=Rowdies&display=swap');

* {
    margin: 0;
}

body {
    background-image: url(wpp24.jpg);
    background-size: cover;

}

#logo {
    position: absolute;
    width: 25vh;
    height: 9vh;
    left: 12vh;
    top: 7vh;
}


header ul {
    text-align: center;
    padding-top: 15px;
}

header ul li {
    display: inline-flex;
    vertical-align: middle;
    padding: 15px;
    flex-direction: column-reverse;
}

header ul li a {
    background-color: #3f3f3f;
    padding: 15px;
    border-radius: 15px;
    text-decoration: none;
    color: #FFFFFF;
    font-size: 20px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

}

ul li :hover {
    color: #000000;
}

.backgroundcolor1 {
    position: absolute;
    width: 47vw;
    height: 18.5vh;
    left: 2vw;
    top: 40.5vh;

    background: #7E7E7E;
    border-radius: 20px;
}

.backgroundcolor2 {
    position: absolute;
    width: 47vw;
    height: 17vh;
    left: 2vw;
    top: 61vh;

    background: #7E7E7E;
    border-radius: 20px;

}
.backgroundprincipal {
    position: absolute;
    width: 49vw;
    height: 41vh;
    left: 1vw;
    top: 39vh;

    background: #343434;
    border-radius: 20px;
}

.textobackground {
    position: absolute;
    width: 45vw;
    height: 65vh;
    left: 3vw;
    top: 41vh;

    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-style: normal;
    font-size: 25px;
    text-align: center;

    color: #FFFFFF;
}

.backgroundcertificados {
    position: absolute;
    width: 21vw;
    height: 9vh;
    left: 64.5vw;
    top: 15vh;

    background: #343434;
    border-radius: 20px;
}

.certificadostitulo {
    position: absolute;
    width: 20vw;
    height: 10vh;
    left: 65vw;
    top: 155px;

    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 35px;
    line-height: 53px;
    text-align: center;

    color: #FFFFFF;
}

.backgroundgolang {
    position: absolute;
    width: 559px;
    height: 387px;
    left: 12vw;
    top: 82vh;

    background: url(cfgo.png);
    border-radius: 50px;
    background-size: cover;
}

.background {
    position: absolute;
    width: 250px;
    height: 250px;
    left: 60vw;
    top: 30vh;

    background: url(cf1.png);
    background-size: cover;
    border-radius: 150px;
    animation: zoomInOut 3s ease-in-out infinite alternate;
}

@keyframes zoomInOut {
    0% {
        transform: scale(1);
    }

    50% {
        transform: scale(1.1);
    }

    100% {
        transform: scale(1);
    }
}

.background2 {
    position: absolute;
    width: 250px;
    height: 250px;
    left: 79vw;
    top: 30vh;

    background: url(cf2.png);
    background-size: cover;
    border-radius: 150px;
    animation: zoomInOut 3s ease-in-out infinite alternate;
}

@keyframes zoomInOut {
    0% {
        transform: scale(1);
    }

    50% {
        transform: scale(1.1);
    }

    100% {
        transform: scale(1);
    }
}

.background3 {
    position: absolute;
    width: 250px;
    height: 250px;
    left: 60vw;
    top: 63vh;

    background: url(cf3.png);
    background-size: cover;
    border-radius: 150px;
    animation: zoomInOut 3s ease-in-out infinite alternate;
}

@keyframes zoomInOut {
    0% {
        transform: scale(1);
    }

    50% {
        transform: scale(1.1);
    }

    100% {
        transform: scale(1);
    }
}

.background4 {
    position: absolute;
    width: 250px;
    height: 250px;
    left: 79vw;
    top: 63vh;

    background: url(CF4.png);
    background-size: cover;
    border-radius: 150px;
    animation: zoomInOut 3s ease-in-out infinite alternate;
}

@keyframes zoomInOut {
    0% {
        transform: scale(1);
    }

    50% {
        transform: scale(1.1);
    }

    100% {
        transform: scale(1);
    }
}

.background5 {
    position: absolute;
    width: 250px;
    height: 250px;
    left: 60vw;
    top: 96vh;

    background: url(CF5.png);
    background-size: cover;
    border-radius: 150px;
    animation: zoomInOut 3s ease-in-out infinite alternate;
}

@keyframes zoomInOut {
    0% {
        transform: scale(1);
    }

    50% {
        transform: scale(1.1);
    }

    100% {
        transform: scale(1);
    }
}

.background6 {
    position: absolute;
    width: 250px;
    height: 250px;
    left: 79vw;
    top: 96vh;

    background: url(CF6.png);
    background-size: cover;
    border-radius: 150px;
    animation: zoomInOut 3s ease-in-out infinite alternate;
}

@keyframes zoomInOut {
    0% {
        transform: scale(1);
    }

    50% {
        transform: scale(1.1);
    }

    100% {
        transform: scale(1);
    }
}

@media only screen and (max-width: 390px) {
    #logo {
        width: 40vw;
        height: auto;
        left: 30vw;
        top: 20vw;
    }

    header ul {
        border: 0;
        padding: 0;
        padding-top: 20px;
        /* exemplo de valor de padding-top */
    }

    header ul li {
        padding: 5px;
        font-size: 16px;
    }

    header ul li a {
        padding: 10px;
        font-size: 16px;
    }

    .backgroundprincipal {
        width: 85vw;
        height: 165vh;
        left: 7vw;
        top: 25vh;
        background: #343434;
        border-radius: 15px;
    }

    .textobackground {
        position: absolute;
        width: 80vw;
        height: 102vh;
        left: 9vw;
        top: 27vh;

        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        font-style: normal;
        font-size: 1s5px;
        text-align: center;

        color: #FFFFFF;
    }
}